<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="caloriefood.projectandroid.com.caloriefood">

    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.READ_PHONE_STATE" />
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
    <uses-permission android:name="android.permission.VIBRATE" />
    <uses-permission android:name="com.google.android.providers.gsf.permission.READ_GSERVICES" />
    <uses-permission android:name="app.tabsample.permission.MAPS_RECEIVE" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />

    <application
        android:allowBackup="true"
        android:icon="@drawable/food_icon"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".SplashScreen">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name="com.example.fonnatrada.mycalories.TabHostMENU"
            android:windowSoftInputMode="stateAlwaysHidden"></activity>
        <activity
            android:name="com.example.fonnatrada.mycalories.TabFoodAll"
            android:windowSoftInputMode="stateAlwaysHidden"></activity>
        <activity
            android:name="com.example.fonnatrada.mycalories.TabFoodAllFa"
            android:windowSoftInputMode="stateAlwaysHidden"></activity>
        <activity
            android:name="com.example.fonnatrada.mycalories.Calories_FOOD1"
            android:windowSoftInputMode="stateAlwaysHidden"></activity>
        <activity
            android:name="com.example.fonnatrada.mycalories.Calories_FOOD2"
            android:windowSoftInputMode="stateAlwaysHidden"></activity>
        <activity
            android:name="com.example.fonnatrada.mycalories.Calories_FOOD3"
            android:windowSoftInputMode="stateAlwaysHidden"></activity>
        <activity
            android:name="com.example.fonnatrada.mycalories.Detail_1"
            android:theme="@android:style/Theme.NoTitleBar"
            android:windowSoftInputMode="stateAlwaysHidden"></activity>
        <activity
            android:name="com.example.fonnatrada.mycalories.Detail_"
            android:windowSoftInputMode="stateAlwaysHidden"></activity>
        <activity
            android:name="com.example.fonnatrada.mycalories.Favorite"
            android:theme="@android:style/Theme.NoTitleBar"
            android:windowSoftInputMode="stateAlwaysHidden"></activity>
        <activity
            android:name="com.example.fonnatrada.mycalories.Favorite1"
            android:theme="@android:style/Theme.NoTitleBar"
            android:windowSoftInputMode="stateAlwaysHidden"></activity>
        <activity
            android:name="com.example.fonnatrada.mycalories.Favorite2"
            android:theme="@android:style/Theme.NoTitleBar"
            android:windowSoftInputMode="stateAlwaysHidden"></activity>
        <activity
            android:name="com.example.fonnatrada.mycalories.screen"
            android:windowSoftInputMode="stateAlwaysHidden"></activity>
        <activity
            android:name="com.example.fonnatrada.mycalories.ProfileActivity"
            android:windowSoftInputMode="stateAlwaysHidden"></activity>
        <activity
            android:name="com.example.fonnatrada.mycalories.EditProFile"
            android:windowSoftInputMode="stateAlwaysHidden"></activity>
        <activity
            android:name="com.example.fonnatrada.mycalories.MainActivity"
            android:windowSoftInputMode="stateAlwaysHidden"></activity>
        <activity
            android:name="com.example.fonnatrada.mycalories.Calories_FOOD"
            android:windowSoftInputMode="stateAlwaysHidden"></activity>
        <activity
            android:name="com.example.fonnatrada.mycalories.Calories_FOOD_Random"
            android:windowSoftInputMode="stateAlwaysHidden"></activity>
        <activity
            android:name="com.example.fonnatrada.mycalories.Calories_Fitness"
            android:windowSoftInputMode="stateAlwaysHidden"></activity>
        <activity
            android:name="com.example.fonnatrada.mycalories.Calories_TOTAL"
            android:windowSoftInputMode="stateAlwaysHidden"></activity>
        <activity
            android:name="com.example.fonnatrada.mycalories.Report"
            android:windowSoftInputMode="stateAlwaysHidden"></activity>
        <activity
            android:name="com.example.fonnatrada.mycalories.Burn_TOTAL"
            android:windowSoftInputMode="stateAlwaysHidden"></activity>
        <activity
            android:name="com.example.fonnatrada.mycalories.Calories_ALL"
            android:windowSoftInputMode="stateAlwaysHidden"></activity>
        <activity
            android:name="com.example.fonnatrada.mycalories.Burn_All"
            android:windowSoftInputMode="stateAlwaysHidden"></activity>
        <activity
            android:name="com.example.fonnatrada.mycalories.TabHostADMIN"
            android:windowSoftInputMode="stateAlwaysHidden"></activity>
        <activity
            android:name="com.example.fonnatrada.mycalories.TabHostAll"
            android:windowSoftInputMode="stateAlwaysHidden"></activity>
        <activity android:name="com.example.fonnatrada.mycalories.Model.AddFoodActivity"></activity>
    </application>

</manifest>