


/*-- Slideshow --*/
#homepage_slideshow { display:block;width:100%;overflow:hidden;margin:0px;margin-bottom:0px;height:400px !important; }
#homepage_slideshow .carousel-control { border-radius: 0 !important; }
#homepage_slideshow .carousel-item { height:400px !important;border-radius:0 !important;background-repeat:no-repeat !important;background-position:center !important;background-size: cover !important;overflow:hidden !important; }
#homepage_slideshow .carousel-caption { font-size:3.2em;text-decoration:none;color:#fff;text-shadow:-2px 6px 4px #000; }


/*-- Category --*/
#homepage_store_cate { padding-top:5px;padding-left:20px;padding-right:20px; }
#homepage_store_cate .item { padding:5px; }
#homepage_store_cate .item > .photo { display:block;cursor:pointer;width:100%;height:120px;background-repeat:no-repeat;background-position:center;background-size:cover;opacity: 1;-webkit-transition: 0.3s; -o-transition: 0.3s; transition: 0.3s; }
#homepage_store_cate .item > .photo:hover { opacity: 0.8; }


/*-- Last shop --*/
#homepage_last_shop { display:none;margin-top:5px;margin-bottom:30px; }
#homepage_last_shop_content { box-shadow: 0px 0px 16px #666; }
#homepage_last_shop_content div.shls-box { position:relative; }
#homepage_last_shop_content div.shls-box .photo { display:block;text-decoration:none;height:360px;overflow:hidden;background-repeat:no-repeat !important;background-position:center !important;background-size: cover !important; }
#homepage_last_shop_content div.shls-box .title { position:absolute;bottom:30px;width:100%;text-align:center;font-size:1.6em;height:32px;text-decoration:none;text-align:center;overflow:hidden;color:#fff;text-shadow:-2px 6px 4px #000; }


/*-- Screen : XS & SM --*/
@media screen and (max-width: 767px) {
    /*-- Slideshow --*/
    #homepage_slideshow { margin-bottom:0px;height:240px !important; }
    #homepage_slideshow .carousel-item { height:240px !important; }
    #homepage_slideshow .carousel-caption { font-size:2em; }
    
    
    /*-- Category --*/
    #homepage_store_cate .item > .photo { height: 75px; }
    
    
    /*-- Last shop --*/
    #homepage_last_shop_content .slick-prev { z-index:1000;left: 10px !important; }
    #homepage_last_shop_content .slick-next { z-index:1000;right: 10px !important; }
    #homepage_last_shop_content div.shls-box .photo { height: 200px; }
}

/*-- Screen : MD --*/
@media screen and (min-width: 768px) and (max-width: 991px) {
    /*-- Category --*/
    #homepage_store_cate .item > .photo { height: 90px; }
}

/*-- Screen : XL --*/
@media screen and (min-width: 1199px) {
    /*-- Slideshow --*/
    #homepage_slideshow { height:480px !important; }
    #homepage_slideshow .carousel-item { height:480px !important; }
    
    
    /*-- Category --*/
    #homepage_store_cate .item > .photo { height: 140px; }
}
