
#sidebar_menu .access-user-picture {
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    display: inline-block;
    width: 24px;
    height: 24px;
    margin-right: 8px;
}
#sidebar_menu .access-user-name {  }

#sidebar_menu > .btn {
    font-size:0.9em;
    background: none;
    border: none;
    color: #444;

    cursor: pointer;

    padding: 6px 8px;
    height: 32px;

    text-align: left;
    text-decoration: none;
}

#sidebar_menu > .btn:hover { color:#3b5998; }

#sidebar_menu > .btn.active {
    background: rgba(255,255,255,0.8);
    border: solid 1px #ddd;
    color: #3b5998;
}
