

body {
    padding-top: 20px;
}

.cmnty_plugin_link { border:none;word-wrap: break-word;overflow-wrap: break-word; }
.cmnty_plugin_link > img { margin-bottom:5px; }
.cmnty_plugin_link > label { text-align:center;display:block;width:100%;height:20px;font-size:0.8em;overflow:hidden; }


/*-- Screen : S --*/
@media screen and (max-width: 767px) {
    #layout_content { position:relative;left:0;transition: all .2s ease-in-out; }
    #layout_content.deactive { position:fixed;left:-100%; }

    #layout_aside { position:fixed;right:-100%;transition: all .2s ease-in-out; }
    #layout_aside.active { position:relative;right:0; }
}
